//
// Tags
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.tags a{
  border:1px solid transparent;
  display:inline-block;
  color:#000;
  background:transparent;
  margin:0 3px 6px 0;
  padding:3px 15px;
  &:hover{
    border-color:$brand-primary;
  }
  &.active{
    background-color:$brand-primary;
    border-color:$brand-primary;  
  }
}
